.tengah{
  text-align: center;
  text-decoration: overline;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.kiri{
  text-align: left;
  text-decoration: line-through;
  text-transform: lowercase;
  letter-spacing: -4px;
}

.kanan{
  text-align: right;
  text-decoration: underline;
  text-transform: capitalize;
  word-spacing: -4px;
}

.kanankiri{
  text-align: justify;
  text-indent: 60px;
  word-spacing: 10px;
}

a{
  text-decoration: none;
}
